<div class="landing-page-bg h-[100vh] bg-cover bg-[30%] bg-no-repeat w-[100%] flex justify-center items-center">
  <div class="w-[50%] mx-auto h-[50%] p-8 bg-black/80 ">
    <div class="w-[100%] h-[100%] border-2 border-[#F36363] flex justify-center items-center">
    </div>
  </div>
</div>
