<p>
  This is the dashboard
</p>

<%= link("Restaurants",
  to: Routes.restaurant_index_path(@socket, :index),
  class: "btn btn-primary"
) %>

<%= link("Staff",
  to: Routes.staff_member_index_path(@socket, :index),
  class: "btn btn-primary"
) %>

<%= link("Food in Menu",
  to: Routes.food_index_path(@socket, :index),
  class: "btn btn-primary"
) %>
